figure {
    margin: 0;
}

.sqaure {
    font-size: 12px;
}

.sqaure::before {
    content: "\25FC";
    font-size: 16px;
}

.big::before {
    color: #255688;
}

.median::before {
    color: #92BDE7;
}

.low::before {
    color: #D9D9D9;
}